<div class="container">
  <p id="pdf_link">
      <%= link_to "Download Invoice (PDF)", article_path(@article, :format => "pdf"), target: '_blank' %>
  </p>
  <div class="row">
    <h1><%= @article.title %></h1>
    <div class="article-banner">
      <%= image_tag @article.banner_image_url, class: "img-fluid" %>
    </div>
    <div class="col-md-12 col-sm-12" id="article-description">
      <%= @article.description.html_safe %>
    </div>
  </div>
  <div id="pdf_link">
    <%= link_to t('.back', :default => t("helpers.links.back")),
    articles_path, :class => 'btn btn-primary'  %>
    <% if can? :update, @article %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_article_path(@article), :class => 'btn btn-secondary' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    article_path(@article),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' %>
    <%end%>
    <div class="card-header"><h2>Comments</h2></div>    
    <%= render @article.comments %>
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  </div>
</div>
<style type="text/css">
.article-banner {
  margin-top: 5%;
}
.article-banner, .img {width:100%;
  text-align: center;}
</style>