<html>
<head>
 <title>article-forum</title>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
 <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
 <link href='custom.css' rel='stylesheet' type='text/css'>
</head>
<body>

   <div style="text-align: center;">
      <h1>
         contact us
      </h1>
      <hr>

   </div>


   <div class="container">

      <div class="row">

        <div class="col-lg-8 col-lg-offset-2">

          <h1 style="text-align:center;"><a href="#">article forum</a></h1>

          <p class="lead">.</p>


          <%= form_for :contact, url: :home_create_contact, method: :post do |f| %>

            <div class="messages"></div>

            <div class="controls">

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form_name">Firstname *</label>
                    <%= f.text_field :firstname,id:"form_name",class: "form-control", placeholder:"Please enter your firstname *", required: "required", data_error:"Firstname is required."%>
                    <div class="help-block with-errors"></div>
                 </div>
              </div>
              <div class="col-md-6">
               <div class="form-group">
                 <label for="form_lastname">Lastname *</label>
                 <%= f.text_field :lastname,id:"form_lastname",class: "form-control", placeholder:"Please enter your lastname *", required: "required", data_error:"Lastname is required."%>
                 <div class="help-block with-errors"></div>
              </div>
           </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="form_email">Email *</label>
              <%= f.text_field :email,id:"form_email",class: "form-control", placeholder:"Please enter your email *", required: "required", data_error:"Email is required."%>
              <div class="help-block with-errors"></div>
           </div>
        </div>
        <div class="col-md-6">
         <div class="form-group">
           <label for="form_phone">Phone</label>
           <%= f.text_field :firstname,id:"form_phone",class: "form-control", placeholder:"Please enter your phone number *", required: "required", data_error:"Phone Number is required."%>
           <div class="help-block with-errors"></div>
        </div>
     </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="form_message">Message *</label><!-- 
        <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea> -->
        <%= f.text_area :message,id:"form_message",class: "form-control", placeholder:"Please enter your message *", required: "required", data_error:"Message is required.", rows:"4"%>
        <div class="help-block with-errors"></div>
     </div>
  </div>
  <div class="col-md-12">
   <%= f.submit 'Submit',class:"btn btn-success btn-send" %>
</div>
</div>
<div class="row">
 <div class="col-md-12">
  <br>
   <p class="text-muted"><strong>*</strong> These fields are required.</p>
</div>
</div>
</div>

<% end %>

</div><!-- /.8 -->

</div> <!-- /.row-->

</div> <!-- /.container-->

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="validator.js"></script>
<script src="contact.js"></script>
</body>
</html>
